body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0 100px;
}

header {
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.social-icons {
  display: flex;
  position: relative;
  /* float: right; */
  left: 825px;
  /* justify-content: space-between; */
}
.social-icons img {
  height: 30px;
  width: 30px;
  padding: 0px 5px;
}
.social-icons a {
  color: #ffffff;
}

main {
  display: flex;
  overflow-x: hidden;
  /* padding: 50px; */
}

.intro {
  flex: 1;
  position: absolute;
  top: 170px;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.highlight {
  border-bottom: 2px solid #4caf50;
}

.intro p {
  width: 50%;
  font-size: 18px;
  margin-bottom: 30px;
}

button.contact-btn {
  padding: 10px 0px;
  background-color: #1a1a1a;
  color: #4caf50;
  border: none;
  border-bottom: 2px solid #4caf50;
}
.contact-btn a{
    text-decoration: none;
    color: #ffffff;
}
.profile-image {
  flex: 1;
  position: relative;
  z-index: -1;
  left: 150px;
  /* width: 10px */
  /* position: relative; */
  /* Add styling for your profile image */
}
.profile-image img {
  width: 80%;

  height: 80vh;
}

/* Skills */

section.skillset{
    margin: 50px 0px;
    border-top: 1px solid #888;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 20px;
}

.skill {
  text-align: left;
  padding-right: 20px;
}

.skill h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.skill p {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

/* Projects */

  
  .projects {
    max-width: 1200px;
    /* margin: 50px 0; */
    padding: 20px;
    /* border-top: 1px solid #888; */
  }
  .proj-info{
    display: flex;
    justify-content: space-between ;
    padding: 30px 0;
  }
  .proj-info h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .contact-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
  }
  .proj-info a{
    text-decoration: none;
    color: #888;
    margin-bottom: 25px;
    border-bottom: 2px solid #4caf50;
  }
  .contact-btn2{
    padding-top: 60px;
    
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .project-item {
    padding: 20px;
  }
  
  .project-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .project-item p{
    font-size: 14px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .project-grid {
      grid-template-columns: 1fr;
    }
  }

  /* Contact */
section.contact{
    border-top: 1px solid #888;
}
  
  .contact-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .contact-container h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .contact-content p {
    max-width: 45%;
  }
  
  .contact-form {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 10px 0;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button {
    align-self: flex-end;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #4CAF50;
    padding: 10px 0;
    cursor: pointer;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding: 20px 0px;
  }
  .social-links img{
    height: 30px;
    width: 30px;
    padding-left: 5px;
  }
  
  
  .icon {
    color: #ffffff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .contact-content {
      flex-direction: column;
    }
    
    p, .contact-form {
      width: 100%;
      max-width: 100%;
    }
  }